ul{
	margin:0;
	padding:0;
	background-color:#efefef;
	width:990px;
	height:40px;
	overflow:hidden;
	list-style-type:none;
	margin-top:120px;
}
li{
	float:left;
	
}
hr{
	width:990px;
}
li a{
	display:block;
	color:#555555;
	text-decoration:none;
	padding:11px 7px;
	font-size:14px;
	transition: 0.5s ease-in-out all;

}
li a:hover{
	background-color:#1f76b3;
	
}
.active{
background-color:#1f76b3;
color:white;
}	